.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
}

.navigationelement {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
  text-transform: uppercase;
}

.navigationelement.w--current {
  color: #fff;
}

.body {
  background-color: #000;
}

.heading {
  height: 60px;
  margin: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
}

.container {
  display: block;
  height: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  float: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .navigationelement {
    margin-right: 40px;
    padding: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 50px;
    line-height: 50px;
    text-align: right;
    letter-spacing: -1px;
  }

  .navigationelement.w--current {
    color: #fff;
  }

  .nav-menu {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: 30vh;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    background-color: hsla(0, 0%, 78.4%, 0);
    text-align: center;
  }

  .icon {
    color: #fff;
  }

  .menu-button {
    width: 60px;
    height: 60px;
    margin: 30px;
  }

  .menu-button.w--open {
    border-radius: 15px;
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

@media screen and (max-width: 767px) {
  .navigationelement {
    margin-right: 30px;
  }
}

@media screen and (max-width: 479px) {
  .navigationelement {
    margin-right: 10px;
    font-size: 40px;
    line-height: 40px;
  }

  .heading {
    margin: 20px 0px 20px 20px;
  }

  .menu-button {
    margin: 20px 10px 20px 0px;
  }
}